# Database management with SQLite in Python

## <u>1. Introduction</u>

SQLite is a software library that provides a relational database management system. The "lite" in SQLite means light weight in terms of setup, database administration, and required resource. One specificity of SQLite is that it is embedded in the end program, and allows to create / edit / delete databases directly from Python.

In [1]:
import sqlite3

To use sqlite3 module, you must first create a connection object that represents the database. The below command will open a connection to the SQLite database file. If no database is found, it will create a new database in the current working directory of python. In the below example, we are creating a databased named 'my_database.db' and it will be represented in python by the 'conn' object.

In [2]:
conn = sqlite3.connect('my_database20.db')

Once we have created the connection, we need to create a 'cursor' object  in order to run SQL statements on the database:

In [3]:
cursor = conn.cursor()

## <u>2. Create a table</u>
Cursor.execute allows to run an SQL statement. We will then use the SQL 'CREATE TABLE' command to create a new table. It requires a table name ('STOCKS' in our example) and then the columns of the table (ID, DATE, SYMBOL...) with for each column the data type (INT, TEXT, REAL...) and the option constraint (example: PRIMARY KEY).

In [4]:
cursor.execute('''CREATE TABLE STOCKS
             (ID INT PRIMARY KEY,
             DATE TEXT, 
             SYMBOL TEXT, 
             QUANTITY REAL, 
             PRICE REAL)''')
print("Table created successfully")

Table created successfully

## <u>3. Insert content in a table</u>

To insert data in the table, we run the SQL statement (Cursor.execute) 'INSERT INTO' which requires the name of the table ('STOCKS'), the keyword 'VALUES' and then the content of the new row to add in the table. a 'commit' statement is then required to save the record in the dataframe.

In [122]:
cursor.execute("INSERT INTO STOCKS VALUES (15, '2006-01-06','GOOG',100,35.14)")
conn.commit()

To insert several rows at once, we can use the 'executemany' statement as below:

In [123]:
purchases = [(230, '2006-03-28', 'IBM', 1000, 45.00),
             (221, '2006-04-05', 'MSFT', 1000, 72.00),
             (222, '2006-04-06', 'IBM', 500, 53.00),
            ]
cursor.executemany('INSERT INTO STOCKS VALUES (?,?,?,?,?)', purchases)

## <u>4. Delete a table</u>

Using the DROP command we can delete an existing table:

In [112]:
cursor.execute("""
DROP TABLE STOCKS
""")
conn.commit()

## <u>5. Retrieve data from a database</u>

We can use the 'SELECT' method and iterate over the cursor object. In the below example we select all rows from the STOCKS table and print each row with a for loop.

In [124]:
for row in cursor.execute('SELECT * FROM STOCKS'):
        print(row)

(15, '2006-01-06', 'GOOG', 100.0, 35.14)
(230, '2006-03-28', 'IBM', 1000.0, 45.0)
(221, '2006-04-05', 'MSFT', 1000.0, 72.0)
(222, '2006-04-06', 'IBM', 500.0, 53.0)

An alternative is to run the statement SELECT statement and then use the 'fetchall' command which outputs a list of tuple ( each tuple is a row of the table).

In [125]:
cursor.execute('SELECT * FROM STOCKS')
cursor.fetchall()

[(15, '2006-01-06', 'GOOG', 100.0, 35.14),
 (230, '2006-03-28', 'IBM', 1000.0, 45.0),
 (221, '2006-04-05', 'MSFT', 1000.0, 72.0),
 (222, '2006-04-06', 'IBM', 500.0, 53.0)]

The SELECT statement can contains arguments in order for example to sort the table (ORDER BY),  filter only the rows containg a requested value, or display only some columns. Three examples below:

In [126]:
cursor.execute('SELECT * FROM STOCKS ORDER BY price') # sort by PRICE
cursor.fetchall()

[(15, '2006-01-06', 'GOOG', 100.0, 35.14),
 (230, '2006-03-28', 'IBM', 1000.0, 45.0),
 (222, '2006-04-06', 'IBM', 500.0, 53.0),
 (221, '2006-04-05', 'MSFT', 1000.0, 72.0)]

In [127]:
t = ('IBM',)
cursor.execute('SELECT * FROM STOCKS WHERE symbol=?', t) # Only filter the STOCKS table if symbol = IBM
cursor.fetchall()

[(230, '2006-03-28', 'IBM', 1000.0, 45.0),
 (222, '2006-04-06', 'IBM', 500.0, 53.0)]

In [128]:
cursor.execute('SELECT SYMBOL, QUANTITY FROM STOCKS WHERE symbol=?', t) # Only keep the SYMBOL/QUANTITY columns
cursor.fetchall()

[('IBM', 1000.0), ('IBM', 500.0)]

## <u>6. Update operation</u>
The following Python code shows how to update any record and then display the updated records using the UPDATE statement

In [129]:
cursor.execute("UPDATE STOCKS set PRICE = 999.00 where ID = 20")
cursor.execute('SELECT * FROM STOCKS')
cursor.fetchall()

[(15, '2006-01-06', 'GOOG', 100.0, 35.14),
 (230, '2006-03-28', 'IBM', 1000.0, 45.0),
 (221, '2006-04-05', 'MSFT', 1000.0, 72.0),
 (222, '2006-04-06', 'IBM', 500.0, 53.0)]

## <u>7. Delete operation</u>

Similarly, we can use a DELETE statement to remove rows from the table. In the example below, we remove from the table STOCKS the row with ID=21.

In [130]:
cursor.execute("DELETE from STOCKS where ID = 21")
conn.commit()
cursor.execute('SELECT * FROM STOCKS')
cursor.fetchall()

[(15, '2006-01-06', 'GOOG', 100.0, 35.14),
 (230, '2006-03-28', 'IBM', 1000.0, 45.0),
 (221, '2006-04-05', 'MSFT', 1000.0, 72.0),
 (222, '2006-04-06', 'IBM', 500.0, 53.0)]

## <u>8. Close the database connection</u>

In [131]:
conn.close()